@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="alert alert-danger text-center">
    <h1>انسداد حساب کاربری</h1>
    <p>حساب کاربری شما موقتا مسدود شده است. لطفا اندکی بعد مجددا تلاش نمایید.</p>
</div>