@page
@model RegisterModel
@{
    ViewData["Title"] = "ثبت نام";
}

@section PageStyles
{
    <link rel="stylesheet" href="~/css/login-page.css" asp-append-version="true" />
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<form asp-route-returnUrl="@Model.ReturnUrl" method="post" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.UserName"></label>
        <input asp-for="Input.UserName" class="form-control" dir="ltr" />
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" dir="ltr" autocomplete="new-password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" dir="ltr" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary w-100">ثبت نام</button>
        </div>
        <div class="col">
            <a href="~/" class="btn btn-warning w-100">انصراف</a>
        </div>
    </div>
</form>
