@font-face {
    font-family: IRANSans;
    src: url(../fonts/iransans.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: IRANYekan;
    src: url(../fonts/yekan_small.eot);
    src: url(../fonts/yekan_small.eot?#iefix) format("embedded-opentype"),url(../fonts/yekan_small.woff2) format("woff2"),url(../fonts/yekan_small.woff) format("woff"),url(../fonts/yekan_small.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: IRANYekan;
    src: url(../fonts/yekan_medium.eot);
    src: url(../fonts/yekan_medium.eot?#iefix) format("embedded-opentype"),url(../fonts/yekan_medium.woff2) format("woff2"),url(../fonts/yekan_medium.woff) format("woff"),url(../fonts/yekan_medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: IRANYekan;
    src: url(../fonts/yekan_large.eot);
    src: url(../fonts/yekan_large.eot?#iefix) format("embedded-opentype"),url(../fonts/yekan_large.woff2) format("woff2"),url(../fonts/yekan_large.woff) format("woff"),url(../fonts/yekan_large.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

body {
    font-family: IRANSans, Tahoma;
}

.validation-summary-unstyled ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.w16 {
    width: 16px
}
.w32 {width: 32px}
.w64 {width: 64px}
.w50 {width: 50px}
.w75 {width: 75px}
.w100 {width: 100px}
.w150 {width: 150px}
.w200 {width: 200px}
.w300 {width: 300px}
.w400 {width: 400px}
.w500 {width: 500px}

.mw300 {max-width: 300px}
.mw400 {max-width: 400px}
.mw500 {max-width: 500px}
.mw600 {max-width: 600px}
.mw700 {max-width: 700px}

.opacity-1 {opacity:0.1}
.opacity-2 {opacity:0.2}
.opacity-3 {opacity:0.3}
.opacity-4 {opacity:0.4}
.opacity-5 {opacity:0.5}
.opacity-6 {opacity:0.6}
.opacity-7 {opacity:0.7}
.opacity-8 {opacity:0.8}
.opacity-9 {opacity:0.9}
