@page
@model MehdiWebApp.Web.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}


<div class="alert alert-danger text-center">
    <h1>بروز خطا</h1>
    <h2>@Model.ExceptionMessage</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>شناسه: @Model.RequestId.Trim(new char[]{ '|', '.'})</strong>
        </p>
    }
</div>
