@page
@model MehdiWebApp.Web.Pages.TestLoginPageModel
@{
    Layout = "_BlankLayout";
}
@section PageStyles
{
    <link rel="stylesheet" href="~/css/firstpage.css" asp-append-version="true" />
}
<div class="bg">
</div>
<div class="LogoDiv d-flex align-items-center p-2 font-weight-bolder">
    <span>سامانه جامع آمار و اطلاعات</span>
</div>
<div class="BottomDiv">
    
</div>