@page
@model MehdiWebApp.Web.Pages.TestModel
<h1>معرفی کتاب قدرت اسطوره</h1>
<p class="text-justify">
    جوزف کمبل (1987-1904 Joseph Campbell) از برجسته‌ترین مراجع جهانی در زمینه‌ی اسطوره شناسی، پژوهنده‌ای توانا، مشاهده‌گری تیزبین، نویسنده و آموزگاری نامی بود که در سطح جهان تأثیری گسترده و ژرف گذاشت. برای او، اسطوره، «آواز کائنات و موسیقی افلاک» بود.

    این کتاب گفت و گفتگویی بلند بین جوزف کمبل و بیل مویرز (Bill Moyers) روزنامه‌نگار و مجری آمریکایی است که روایتی از آن از یکی از شبکه‌های تلویزیونی آمریکا پخش شد، و می توان آن را جمع‌بندی پژوهش‌ها و مشاهده‌ها و اندیشه‌های کمبل شمرد، که پهنه‌ای وسیع را در می‌نوردد و به معنی دقیق کلمه، از هر دری سخنی می‌گوید. تمامی میراث اساطیری بشریت را، از دورترین زمان‌ها و ناشناخته‌ترین اقوام تا اسطوره‌هایی که امروز سینما خلق کرده است به یکباره در برابر دیدگان خواننده قرار می‌دهد، منظره‌ای پر از جلوه‌های گوناگون که در عین حال سرشار از همانندی‌ها و قرابت‌های چشمگیر و تفکرانگیز است.

    در ادامه پرسش آغازین این گفتگو را می آوریم:

    "مویرز: چرا اسطوره‌ها؟ چرا باید نگران اسطوره‌ها باشیم؟ آنها بر زندگی من چه تأثیری ‌می‌گذارند؟

    کمبل: نخستین پاسخ من این است، «راهت را ادامه بده، زندگیت را بکن، زندگی خوبی است، تو به اسطوره شناسی نیازی نداری.» من عقیده ندارم که باید به موضوعی علاقه‌مند بود، صرفا به این دلیل که گفته می‌شود موضوع مهمی است. من به نوعی گرفتار شدن در دامِ جذبه‌ی یک موضوع عقیده دارم. اما با یک معرفیِ درست، خواهید دید که اسطوره شناسی شما را در کمند خود اسیر خواهد کرد. بنابراین، باید دید که اگر شما را در کمند خود اسیر کند، چه کاری برایتان انجام خواهد داد.

    یکی از مشکلات امروز ما این است که به اندازه‌ی کافی با ادبیات معنوی آشنایی نداریم. ما به اخبار روز و مشکلاتی که ساعت به ساعت دامنگیرمان است دلبسته ایم. در گذشته محیط دانشگاه فضایی کاملا بسته و جدا شده بود که در آن اخبار روزمره نمی‌توانست مانع از توجه شخص به میراث انسانی شکوهمندی شود که در سنت بزرگ ما برجای مانده است؛ سنتی که از افلاطون، کنفسیوس، بودا، گوته و سایر کسانی که از ارزش های جاودانیِ پیرامون ما سخن می گویند. هنگامی که سن‌تان بالاتر می‌رود و دلمشغولی‌های زندگی روزمره را به تمامی پشت سر می‌گذارید، و توجه خود را به زندگی درونی معطوف می‌کنید، چنانچه ندانید زندگی درونی چیست یا کجا ایستاده‌اید، تأسف خواهید خورد.

    یونانی، لاتین و مندرجات کتاب مقدس، بخشی از تعلیمات همه‌ی افراد بود. اکنون در شرایطی که این متون کنار گذاشته شده‌اند، سنت کاملی از اطلاعات اسطوره شناسی غربی از دست رفته است. این داستان‌ها ملکه‌ی ذهن افراد بود. هنگامی که داستان در ذهن شما جا بگیرد، ارتباط آن را با آنچه در زندگی‌تان اتفاق می‌افتد درمی‌یابید. شما را در مقابل چشم اندازی از آنچه برایتان اتفاق می‌افتد قرار می‌دهد. با از میان رفتن آن ما واقعا چیزی را از دست می‌دهیم، زیرا ادبیاتی نداریم که با آن قابل قیاس باشد و جای آن را بگیرد. این اطلاعات جسته و گریخته از روزگاران کهن، و ناظر بر مضمون‌هایی که به زندگی بشر یاری رسانده‌اند، تمدن‌ها را پدید آورده اند، و در گذر هزاره‌ها ادیان را تغذیه کرده‌اند، به مسایل عمیق درونی، رازهای درونی و آستانه‌های گذر درونی ما می‌پردازند، و اگر شما راهنماها و علائم موجود در طول مسیر را نبینید، ناگزیرید شخصا مسیر را پیدا کنید. اما به محض آنکه این موضوع از مجرای یکی از سنت‌های آکنده از اطلاعات عمیق، غنی،  و زندگی‌بخش شما را به دام اندازد، چنان احساسی پیدا خواهید کرد که دیگر به هیچ‌وجه آن را کنار نخواهید گذاشت."
</p>
<h1>@ViewData["phone"]</h1>