<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" asp-fallback-href="~/lib/font-awesome/css/fontawesome.min.css"
          asp-fallback-test-class="fas" asp-fallback-test-property="font-style" asp-fallback-test-value="normal" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/solid.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout-default.css" asp-append-version="true" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" asp-fallback-src="~/lib/jquery/jquery.min.js" asp-fallback-test="window.jQuery"></script>
    <script src="~/js/layout-default.js"></script>
</head>
<body dir="rtl">
    <div id="main-frame">
        <div id="main-header">
            <div id="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>

            <a href="~/" class="logo">Site Logo</a>
        </div>

        <div id="main-container">

            <div id="sidebar">
                <ul>
                    <li>Item1</li>
                    <li>Item2</li>
                    <li>Item3</li>
                    <li>Item4</li>
                    <li>Item5</li>
                    <li>Item6</li>
                    <li>Item7</li>
                </ul>
            </div>
            <div id="main-content">
                @RenderBody()
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
